{
  "plugins": ["transform-object-assign"],
  "env": {
    "es5": {
      "presets": ["env"]
    },
    "es6": {
      "presets": [
        ["env", {"modules": false, "loose": true}]
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        ["istanbul", {
          "exclude": [
            "test/**/*.js"
          ]
        }]
      ]
    }
  }
}
